<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="gameResultScreen">
      <h1 id="gameResult">{{gameOver}} {{gameWin}}</h1>
      <h2 id="word">The word was "{{word}}"</h2>
      <form action="/playAgain" method="post">
        <button>Play again?</button>
      </form>
    </div>
    </div>
  </body>
</html>
