<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h3>Mystery Word</h1>
        <h3>You have ({{guesses}}) guess(es) left</h2>
      </header>

      <div class="gameScreen">
        <h1 id="blank">{{blank}}</h1>
        <form action="/guess" method="post">
          <input type="text" name="userGuess" value="">
          <button>Make a Guess</button>
        </form>
        {{#errors}}
          <h4>{{msg}}</h4>
        {{/errors}}
      </div>

      <div class="lettersGuessed">
        <h3>Letters guessed:  </h3>
        <section class="letterBank">

        </section>
      </div>
    </div>
  </body>
</html>
