.wrapper {
  margin: 7.5% 20%;
  font-family: Helvetica;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Game Main Body */

.gameScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

#blank, form {
  align-self: center;
}

input {
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
}

#blank {
  font-size: 4rem;
  letter-spacing: 8px;
}

#errorMessage {
  margin-top: 5%;
  margin-bottom: -5%;
}

/* Letter Bank Styling */

.letterBank span {
  word-spacing: 1rem;
}


/* Game End Page Styles */
.gameResultScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gameResult, #word {
  align-self: center;
}

#gameResult {
  font-size: 5rem;
}
